<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.b2c.TOUCHX_Login_from_Adobe"/>
      <class name="tests.b2c.MYACC_Login_And_Logout"/>
      <class name="tests.b2c.TOUCHX_Login_And_Logout"/>
      <class name="tests.b2c.E2E_NotLogged_1Adult_Option"/>
      <class name="tests.b2c.E2E_NotLogged_1Adult_Deposit"/>
      <class name="tests.b2c.E2E_NotLogged_1Adult_Complete_Payment"/>
      <class name="tests.b2c.E2E_NotLogged_2Adults_Option"/>
      <class name="tests.b2c.E2E_NotLogged_2Adults_Deposit"/>
      <class name="tests.b2c.E2E_NotLogged_2Adults_Complete_Payment"/>
      <class name="tests.b2c.E2E_NotLogged_2Adults_1Child_Option"/>
      <class name="tests.b2c.E2E_NotLogged_2Adults_1Child_Deposit"/>
      <class name="tests.b2c.E2E_NotLogged_2Adults_1Child_Complete_Payment"/>
      <class name="tests.b2c.E2E_3DS1_1Adult_Deposit_Payment"/>
      <class name="tests.b2c.E2E_3DS2_1Adult_1Child_Complete_Payment"/>
      <class name="tests.b2c.E2E_NotLogged_1Adult_Deposit_And_Complete_Payment"/>
      <class name="tests.b2c.E2E_NotLogged_2Adults_Deposit_And_Complete_Payment"/>
      <class name="tests.b2c.E2E_NotLogged_2Adults_1Child_Deposit_And_Complete_Payment"/>
      <class name="tests.b2c.E2E_NotLogged_2Adults_Deposit_And_Complete_Payment_3ds1"/>
      <class name="tests.b2c.E2E_Logged_1Adult_Complete_Payment"/>
      <class name="tests.b2c.E2E_Logged_1Adult_Deposit_And_Complete_Payment"/>
      <class name="tests.b2c.E2E_Logged_1Adult_Deposit"/>
      <class name="tests.b2c.E2E_Logged_1Adult_Option"/>
      <class name="tests.b2c.FORM_Brochure"/>
      <class name="tests.b2c.FORM_NewsLetter"/>
      <class name="tests.b2c.FORM_RequestAQuote"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

